.message {
    list-style-type: none;
    background-color: whitesmoke;
    border-radius: 10px;
    display: inline-block;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.test{
    background-color: green;
    color: white;
    float: right;
}